node_modules
npm-debug.log
.git
.gitignore
README.md
Dockerfile
.dockerignore
vendor
.env.backup
storage/logs/*
storage/app/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
